html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    color: #222;
    line-height: 1.4;
    font-size: 110%;
    background-color: white;
    margin: block;
}


img {
    width: 100%;
}

.logo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0;
    padding-right: 0;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    text-align: center;

}

nav ul li {
    display: inline-block;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .75em;
    padding-right: .75em;
    background-color: purple;

}

a.buttom {
    text-decoration: none;
    background-color: purple;
    color: white;
}

a.button:visited {
    background-color: purple;
    color: white;
    border: 2px solid white;

}

a.button:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

a.buttom:focus {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

.hero {
    width: 100%;
    padding: 10em 0;
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}